<h1>Hello, Rails!</h1>
<p>This is a rails test portfolio application. </p>
<p>Go to the Tags <%= link_to 'Tags', tags_path %> </p>
<p>Go to the Tag Aliases <%=link_to 'Tag aliases', tag_aliases_path %> </p>
<p>Go to the Articles <%= link_to 'Articles', articles_path %> </p>
