<h1 class="text-center">Hello, welcome to Portfolio!</h1>
<p class="text-center">This is a simple portfolio application. </p>

<div class="text-center">
  <% if current_user %>
    You are logged in as <%= current_user.email %>.
    <br />
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %>
</div>

<% if first_user %>
  Yaaay you're first
<% end %>
